
*.zip
*.userprefs
Metadata.xml
MonoMacWebView/src/bin
MonoMacWebView/src/obj
SwiftWebKit.xcworkspace
[Ww]eb.config
[Aa]eb.config
http*.conf

.arch/
.temp/
monohttpd/
original/
private-apache/
vnext/
mc/
nano/dism/
nano/Packages/
appveyor/AppRolla/
.vs/
