
*.zip
*.userprefs
Metadata.xml
MonoMacWebView/src/bin
MonoMacWebView/src/obj
SwiftWebKit.xcworkspace

public_html/web.config
monohttpd/
original/
private-apache/
vnext/
mc/
nano/dism/
nano/Packages/
